body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#dashboard {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background: #333;
    color: #eee;
}
#dashboard .card {
    margin: 1em 2em;
}

#dashboard .card>* {
    margin: 0.5em;
}
#dashboard .card>h3 {
    display: inline-block;
    padding-left: 1em;
    position: relative;
}
#dashboard .card>h3>a {
    color: unset;
    text-decoration: unset;
}
#dashboard .card>h3:hover>a#hash::before {
    position: absolute;
    left: 0;
    content: "¶";
}
#dashboard .card>h3>a#fold {
    font-size: 0.6em;
    display: inline-block;
    transform: scale(-1, -1);
    transform-origin: center;
}
#dashboard .card.fold>h3>a#fold {
    transform: scale(1, 1);
}
#dashboard .card>ul {
    background: #3c3c3c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5em 0;
    margin-left: 2em;
    overflow: hidden;
    max-height: 1000vh;
    transition: max-height 0.5s;
    transition-timing-function: cubic-bezier(1, 0, 1, 0);
}
#dashboard .card.fold>ul {
    max-height: 0;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
}
#dashboard .card>ul>li {
    flex: 1 1 12em;
    margin: 0.5em 1em;
    background: #444;
    list-style: none;
    padding: 1em;
}
#dashboard .card>ul>li>* {
    display: block;
    word-break: break-word;
}
#dashboard .card>ul>li>span.name {
    color: #ccc;
}
#dashboard .card>ul>li>i.desc {
    color: #999;
    font-size: 0.6em;
    margin-bottom: 0.5em;
}
