body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#dashboard {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #333;
    color: #eee;
}
#dashboard .card {
    background: #444;
    margin: 2em 1em;
    padding: 1em;
}

#dashboard .card>* {
    margin: 0.5em;
}
#dashboard .card>h3 {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}
#dashboard .card>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#dashboard .card>ul>li {
    margin: 0.5em 2em;
    min-width: 20%;
}
#dashboard .card>ul>li>span.name {
    color: #ccc;
    margin-right: 0.5em;
}
#dashboard .card>ul>li>span.value {
    text-decoration: underline;
}