body {
    margin: 0;
    padding: 0;
    width: 100%;
}

a#sphereMap {
    color: #eee;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin: 1em;
}

#threejs {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}